<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.rhistel.lassdiewuerfelrollen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LassDieWuerfelRollen">

        <activity android:name=".gui.activites.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Die Eigenschaft parentActivityName verweist auf eine uebergeordnete Activity.        -->
        <activity
            android:name=".gui.activites.DiceActivity"
            android:parentActivityName=".gui.activites.MainActivity" />

        <activity
            android:name=".gui.activites.HelpActivity"
            android:label="@string/strHelp"
            android:theme="@style/Theme.LassDieWuerfelRollen.NoActionBar" />

        <activity
            android:name=".gui.activites.AboutUsActivity"
            android:label="@string/strAboutUs"
            android:parentActivityName=".gui.activites.HelpActivity" />
    </application>

</manifest>